/* navbar.css */

.logo {
    display: block;
    width: 50px;
    height: auto;
    border-radius: 200px;
    margin-top: -25px;
}
.navbar-brand-container {
    display: flex;
    align-items: center;
    background-color: bisque;
}

.navbar-brand-container img {
    margin-right: 10px;
    background-color: bisque;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: bisque;
}
.navbar {
    background-color: bisque;
}

.user-foto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 5px;
    /* margin-left: 50px; */
}